In [1]:
#1. Import Pandas and Numpy
import pandas as pd 
import numpy as np

In [2]:
#2. Read both the datasets
ld_train=pd.read_csv('loan_data_train.csv')
ld_test=pd.read_csv('loan_data_test.csv')

In [3]:
#3. check the header portion of train data set
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [4]:
#4. check the header portion of test data set, Interest Rate column is missing in test
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [5]:
#5.Create Interest Rate Variable in Test set 
ld_test['Interest.Rate']=np.nan

In [6]:
#6. Create a New column representing whether the row coming from train set or test set
ld_train['data']='train'
ld_test['data']='test'

In [7]:
#7.Arrange the column names according to the train data so that they matches
ld_test=ld_test[ld_train.columns]

In [8]:
#8.Concatenate the data frames
ld_all=pd.concat([ld_train,ld_test],axis=0)

In [9]:
#9. check the header portion of the full data set
ld_all.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [10]:
#10. Check the data types
ld_all.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [11]:
#11.Drop the Id and Remove amount funded by investors because that variable 
# is coming from future.
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [12]:
# 12. Remove % symbol from Interest rate, Debt to income ratio
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%","")

In [13]:
#13. Convert Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio', 
#'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance to Numeric.
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [14]:
#14. Create two columns with Fico Range and calculate the mean, 
# create that as new fico column.
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)

ld_all['fico']=0.5*(k[0]+k[1])

del ld_all['FICO.Range']

In [15]:
#15. Check the value counts of Employment Length
ld_all['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [16]:
#16. Clean the employment Length Varaible.
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

In [17]:
#17. Convert the employment Length Varaible to Numeric.
ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [18]:
#18. Select all the categorical columns in to separate object
cat_cols=ld_all.select_dtypes(['object']).columns

In [19]:
#19. check the categorical columns
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [20]:
#20. Check that Object, as it has data column in it, drop the data column.
cat_cols=cat_cols[:-1]

In [21]:
#21. check the categorical columns once again
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [22]:
#22. Create dummy variables for Loan Length,Loan purpose, Home ownership and
# state columns, make sure that there are not too many dummies created,
#check the frequency and control the dummies based on frequency.
for col in cat_cols:
    freqs=ld_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [23]:
#23. Check the sahape
ld_all.shape

(2500, 51)

In [24]:
#24. Check the missing values 
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [25]:
#25. Impute the missing values with mean
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [26]:
#26. Check the missing values once again
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [27]:
# 27. Separate the train and test datasets
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

C:\Users\Aditya sharma\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [28]:
#28. delete the ld_all data frame as we created ld_train and ld_test
del ld_all

In [29]:
#29. Import train_test_split
from sklearn.model_selection import train_test_split

In [30]:
#30. Split the train dataset into train1 and train2 datasets
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [31]:
#31. Assign columns to x and  Interest rate as y 
x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [32]:
#32. Import LinearRegression 
from sklearn.linear_model import LinearRegression

In [33]:
#33. assign it to an object
lm=LinearRegression()

In [34]:
#34. Build Linear regression Model
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
#35. find the intercept
lm.intercept_

75.92121413596661

In [36]:
# 36. find the coefficients and check them
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.00015602405153880626),
 ('Debt.To.Income.Ratio', -0.003938504174097077),
 ('Monthly.Income', -2.656857356953206e-05),
 ('Open.CREDIT.Lines', -0.039922608340262095),
 ('Revolving.CREDIT.Balance', -3.923647859227497e-06),
 ('Inquiries.in.the.Last.6.Months', 0.33611721113132986),
 ('Employment.Length', 0.03499367189450853),
 ('fico', -0.08667701121951682),
 ('Loan.Length_36 months', -3.1437472469505967),
 ('Loan.Purpose_debt_consolidation', -0.46739356903559504),
 ('Loan.Purpose_credit_card', -0.6069873604061816),
 ('Loan.Purpose_other', 0.4441714227019249),
 ('Loan.Purpose_home_improvement', -0.3611899849181439),
 ('Loan.Purpose_major_purchase', -0.09589524932665744),
 ('Loan.Purpose_small_business', 0.06800548772823917),
 ('Loan.Purpose_car', 0.02525962803601195),
 ('Loan.Purpose_wedding', -0.7791542650056443),
 ('Loan.Purpose_medical', -0.42811521099550076),
 ('Loan.Purpose_moving', 1.2845276544595672),
 ('State_CA', -0.21159715256759093),
 ('State_NY', -0.12777976346386033),
 ('State_TX', 0.46565199969690413),
 ('State_FL', 0.08536509194007776),
 ('State_IL', -0.6478521077890991),
 ('State_GA', -0.028715232683424435),
 ('State_PA', -0.5531491923550242),
 ('State_NJ', -0.42527158242929797),
 ('State_VA', -0.1900182794302399),
 ('State_MA', 0.09032034036316591),
 ('State_OH', -0.361394034022),
 ('State_MD', -0.016614796909706575),
 ('State_NC', -0.3012520492515621),
 ('State_CO', -0.056439387391122864),
 ('State_WA', -0.24431943682020218),
 ('State_CT', 0.44506590679109814),
 ('State_AZ', 0.26472185268436815),
 ('State_MI', -0.15816583557369795),
 ('State_AL', -0.32176623527151765),
 ('State_MN', -0.07658290397396199),
 ('State_MO', -0.43209418403253086),
 ('State_NV', -0.12433340941260992),
 ('State_OR', 0.12024829459476225),
 ('State_SC', 0.02477134526044114),
 ('State_WI', -0.1650692026702109),
 ('State_KY', 0.26922860325685094),
 ('State_LA', -0.04879687995185614),
 ('State_KS', 0.24424291796448502),
 ('Home.Ownership_MORTGAGE', -0.49278993963527884),
 ('Home.Ownership_RENT', -0.22835804629261025)]

In [37]:
#37. create x_train2 without interest rate variable
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [38]:
#38. Predict the interest rate on x_train2
predicted_ir=lm.predict(x_train2)

In [39]:
#39. Import MAE
from sklearn.metrics import mean_absolute_error

In [40]:
#40. calculate the MAE between actual and predicted value
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

1.6278267948897238

In [41]:
#41. We know the tentative performance now, lets build the model on entire
#training to make prediction on test/production
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [42]:
#42. Build the model on entire data
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
#43. Evaluate the performance
test_pred=lm.predict(ld_test)

In [44]:
#44. submit the reults in a .csv file
pd.DataFrame(test_pred).to_csv("D:/mysubmission.csv",index=False)

In [45]:
#45. Import Radge, Lasso and GridSearchCV
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [46]:
#46. select diffrerent penalty parameters
lambdas=np.linspace(1,100,100)

In [47]:
#47. Assign these penalties to params
params={'alpha':lambdas}

In [48]:
#48. Create a ridge model object to pass that into gridsearchCV
model=Ridge(fit_intercept=True)

In [49]:
#49. Build the grid, search the grid
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [50]:
#50. build the model with gridsearch result
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,...
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [51]:
#51. find the best estimator
grid_search.best_estimator_

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [52]:
#52. Predict using the grid search model
test_pred=grid_search.predict(ld_test)

In [53]:
#53. Submit the file
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

In [54]:
#54. extract the best estimators and craete it as ridge model
ridge_model=grid_search.best_estimator_

In [55]:
#55. Fit the ridge model
ridge_model.fit(x_train,y_train)

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [56]:
#56. find the coefficients
list(zip(x_train1.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016714537449332364),
 ('Debt.To.Income.Ratio', -0.0012606544250313722),
 ('Monthly.Income', -2.9698511805816633e-05),
 ('Open.CREDIT.Lines', -0.03680978176797212),
 ('Revolving.CREDIT.Balance', -3.0023321502439213e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3423775150135448),
 ('Employment.Length', 0.019418602187517228),
 ('fico', -0.08664485391886743),
 ('Loan.Length_36 months', -2.829976270586636),
 ('Loan.Purpose_debt_consolidation', -0.3704218576828936),
 ('Loan.Purpose_credit_card', -0.4647945472634013),
 ('Loan.Purpose_other', 0.3778566516361915),
 ('Loan.Purpose_home_improvement', -0.22927008352911185),
 ('Loan.Purpose_major_purchase', -0.011304507141047578),
 ('Loan.Purpose_small_business', 0.08971483773410377),
 ('Loan.Purpose_car', -0.03045829578171917),
 ('Loan.Purpose_wedding', -0.3287162019425476),
 ('Loan.Purpose_medical', -0.09644409135077475),
 ('Loan.Purpose_moving', 0.45762384719037735),
 ('State_CA', -0.09391793411410299),
 ('State_NY', -0.0439976715392879),
 ('State_TX', 0.42721847770262983),
 ('State_FL', 0.024099029596950188),
 ('State_IL', -0.3475483678305813),
 ('State_GA', -0.08405365767738304),
 ('State_PA', -0.28116404371457004),
 ('State_NJ', -0.20973892538236188),
 ('State_VA', -0.0020089878229196233),
 ('State_MA', -0.017505518805411662),
 ('State_OH', -0.13254554214912986),
 ('State_MD', 0.011827292660322774),
 ('State_NC', -0.24367324438879268),
 ('State_CO', 0.0923333315106556),
 ('State_WA', -0.08772672017548623),
 ('State_CT', 0.2486658062436727),
 ('State_AZ', 0.275382681131962),
 ('State_MI', -0.003753451253495222),
 ('State_AL', 0.013304019104654136),
 ('State_MN', -0.04297138105698852),
 ('State_MO', -0.12088507532800381),
 ('State_NV', -0.012970229768664679),
 ('State_OR', 0.04475195215254859),
 ('State_SC', 0.008945589985714668),
 ('State_WI', 0.06539120347077045),
 ('State_KY', 0.06929959383323914),
 ('State_LA', 0.10860903512946146),
 ('State_KS', 0.12492599122671257),
 ('Home.Ownership_MORTGAGE', -0.3039747142080213),
 ('Home.Ownership_RENT', -0.09558753919624892)]

In [57]:
#57. Try with different Penalty parameters with Lasso
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [58]:
#58. Try gird search
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [59]:
#59. apply the grid search to build the model
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.5454...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [60]:
#60. Find the best estimators
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [61]:
#61.refine the penalty parameters
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}

In [62]:
#62. try the gridsearch once agin for optimal estimators
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [63]:
# 63. find the best estimators
grid_search.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [64]:
#64. Pass the best estimators to lasso model
lasso_model=grid_search.best_estimator_

In [65]:
#65. Build the Lasso model
lasso_model.fit(x_train,y_train)

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

###### 66. Find the coefficients
list(zip(x_train.columns,lasso_model.coef_))